@import "grid.scss";

$font-title:'Raleway', sans-serif;
$font-content: 'Yanone Kaffeesatz', sans-serif;
$full-width: 100%;

h3, h1, h4{
  font-family: $font-title;
}
p{
  font-size: 18px;
  font-family: $font-content;
}
#nav{
  margin-left: 35%;
}
@mixin menu {
  list-style: none;
  display: inline-block;
}
li{
  @include menu;
  font-family: $font-content;
  font-size: 18px;
  padding: 15px;
}
.img-body{
  width: $full-width;
}
.img-container{
  width: $full-width;
}
.asana{
  border-radius: 50%;
}
